In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# Read in 2023 dataset and merge with webscraped data

df_2023 = pd.read_csv('data/SHIFTS (2).csv')

df_2022 = pd.read_csv('data/shift_details.csv')

In [3]:
df_2023.head()

,ObjectID,DATE1,DAY_OF_WEEK,AGENCY_DESC,SITE_NAME,TOWN,WATERBODY,FNAME,LNAME,INSPECTOR_ID,...,SHIFT_LENGTH,TRAILERS,TOTAL_NM,TOTAL_M,TOTALINSP,COMMENTS,NUMINVASIVE,GlobalID,x,y
0,71,5/12/2023,Fri,FOCW (Friends of the Cobbossee Watershed),Launch Drive Cobbosseecontee,Monmouth,Cobbosseecontee Lake,Emily,Lucas,5305,...,190,2.0,0.0,5,5.0,\n,0.0,2efd8f58-5a9e-4b75-8e56-4cb720b404ab,-69.96728,44.23825
1,87,5/15/2023,Mon,FOCW (Friends of the Cobbossee Watershed),Launch Drive Cobbosseecontee,Monmouth,Cobbosseecontee Lake,Jo,Parker,5582,...,177,3.0,1.0,4,5.0,NaN,0.0,79e8dad7-953c-44ea-a755-5ae798d88a0e,-69.96728,44.23825
2,140,5/26/2023,Fri,FOCW (Friends of the Cobbossee Watershed),Whippoorwill Road,Litchfield,Woodbury Pond,Georgia,Howe,5714,...,420,3.0,0.0,12,12.0,NaN,0.0,0e7817d3-1b58-4126-b74e-63633c56c9b7,-69.93623,44.21212
3,148,5/26/2023,Fri,FOCW (Friends of the Cobbossee Watershed),Norcross Point South Basin Maranacook,Winthrop,Maranacook Lake,Jasper,Balano-Stott,4174,...,315,0.0,0.0,8,8.0,NaN,0.0,fc2638c6-255b-4dd4-8a07-dfbaa8243f64,-69.97390,44.31010
4,149,5/26/2023,Fri,FOCW (Friends of the Cobbossee Watershed),Launch Drive Cobbosseecontee,Monmouth,Cobbosseecontee Lake,Steve,Lambert,5670,...,420,4.0,0.0,31,31.0,NaN,0.0,2ae48858-7783-465d-8b28-a1f2b4eaa446,-69.96728,44.23825

In [4]:
df_2022.head()

,SITE_NAME,DATE,DAY,INSPECTOR_ID,PAID,START_SHIFT,END_SHIFT,INSPECTIONS,TOTALINSP,NUMINVASIVE
0,Augusta West Kampground,08/15/2021,Sun,4769,Paid,08:00,18:00,Yes,13,NaN
1,Launch Drive,08/15/2021,Sun,3796,Paid,07:00,17:00,Yes,95,NaN
2,Old Kents Hill Road,08/15/2021,Sun,5006,Paid,13:00,19:00,Yes,4,NaN
3,Wilson Pond Road,08/15/2021,Sun,4174,Paid,13:00,19:00,Yes,15,NaN
4,Rt 41 North Basin Maranacook,08/15/2021,Sun,5353,Paid,13:00,19:00,Yes,32,NaN

In [5]:
df_2022.shape

(1642, 10)

In [8]:
df_2023.shape

(984, 23)

In [9]:
df_2022.isna().sum()

SITE_NAME         0
DATE              0
DAY               0
INSPECTOR_ID      0
PAID              0
START_SHIFT       0
END_SHIFT         0
INSPECTIONS       0
TOTALINSP         0
NUMINVASIVE     671
dtype: int64

In [11]:
df_2023.isna().sum()

ObjectID          0
DATE1             0
DAY_OF_WEEK       0
AGENCY_DESC       0
SITE_NAME         0
TOWN              0
WATERBODY         0
FNAME             0
LNAME             0
INSPECTOR_ID      0
PAY_VOL           0
SHIFT_START       0
SHIFT_END         0
SHIFT_LENGTH      0
TRAILERS        178
TOTAL_NM          2
TOTAL_M           0
TOTALINSP         2
COMMENTS        896
NUMINVASIVE       1
GlobalID          0
x                 0
y                 0
dtype: int64

## Data Cleaning Steps


#### I need to drop the columns from 2023 that i don't have info for in 2022 & 2021
- ObjectId?
- FNAME
- LNAME
- TOTAL_NM
- TOTAL_M
- TRAILERS
- GLOBAL_ID
- x
- y
- COMMENTS

#### I need to rename columns in webscraped data:
- START_SHIFT: SHIFT_START
- END_SHIFT: SHIFT_END
- PAID: PAY_VOL
- DATE: DATE1
- DAY: DAY_OF_WEEK

#### Data Cleaning df_2022:
- I need to fill in the values for town, waterbody using df_2023
- Create the shift length column from shift_start and shift_end


#### Concatenate 2 dataframes then more cleaning
- Create a new column of just month? 
- Drop if site = Lakeside Marina Cobbosseecontee
- Drop NUM_INVASIVE or fill with 0s? (won't be used to predict number of inspections anyway...?)