In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
df_2022 = pd.read_csv('data/FOCW_CBI_21_22_shift.csv')

In [8]:
df_2023 = pd.read_csv("data/SHIFTS (2).csv")

In [9]:
df_2022.head(1)

,objectid,YEAR,VISIT_DATE,DAY_OF_WEEK,AGENCY_DESC,AGENCY_ID,SITE_NAME,SITE_ID,LAT,LONG,...,PAY_VOL,START_SHIFT,TRAILERS,INSPECTIONS,END_SHIFT,SHIFT_LENGTH,SURVEY,COMMENTS,TOTALINSP,NUMINVASIVE
0,8977,2021,5/28/2021,Fri,FOCW (Friends of the Cobbossee Watershed),50,Launch Drive,376,44.23825,-69.96728,...,Paid,12:00,10.0,Yes,18:00,360,During shift/at ramp,NaN,33,NaN

In [10]:
df_2023.head(1)

,ObjectID,DATE1,DAY_OF_WEEK,AGENCY_DESC,SITE_NAME,TOWN,WATERBODY,FNAME,LNAME,INSPECTOR_ID,...,SHIFT_LENGTH,TRAILERS,TOTAL_NM,TOTAL_M,TOTALINSP,COMMENTS,NUMINVASIVE,GlobalID,x,y
0,71,5/12/2023,Fri,FOCW (Friends of the Cobbossee Watershed),Launch Drive Cobbosseecontee,Monmouth,Cobbosseecontee Lake,Emily,Lucas,5305,...,190,2.0,0.0,5,5.0,\r\n,0.0,2efd8f58-5a9e-4b75-8e56-4cb720b404ab,-69.96728,44.23825

In [11]:
df_2022.rename(columns={'objectid': 'ObjectID', 'VISIT_DATE': 'DATE1', 'START_SHIFT': 'SHIFT_START', 'END_SHIFT': 'SHIFT_END'}, inplace=True)

In [12]:
df_2023.drop(columns=['ObjectID', 'AGENCY_DESC', 'FNAME', 'LNAME', 'NUMINVASIVE', 'TOTAL_NM', 'TOTAL_M', 'COMMENTS', 'GlobalID', 'x', 'y'], inplace=True)

In [13]:
df_2022.drop(columns=['ObjectID', 'YEAR', 'AGENCY_DESC', 'AGENCY_ID', 'SITE_ID', 'LAT', 'LONG', 'SURVEY', 'COMMENTS', 'NUMINVASIVE'], inplace=True)

In [14]:
df_2023.head(1)

,DATE1,DAY_OF_WEEK,SITE_NAME,TOWN,WATERBODY,INSPECTOR_ID,PAY_VOL,SHIFT_START,SHIFT_END,SHIFT_LENGTH,TRAILERS,TOTALINSP
0,5/12/2023,Fri,Launch Drive Cobbosseecontee,Monmouth,Cobbosseecontee Lake,5305,Paid,08:50,12:00,190,2.0,5.0

In [15]:
df_2022.head(1)

,DATE1,DAY_OF_WEEK,SITE_NAME,TOWN,WATER_REGION_ID,WATERBODY,MIDAS,NAME_FL,FNAME,LNAME,INSPECTOR_ID,PAY_VOL,SHIFT_START,TRAILERS,INSPECTIONS,SHIFT_END,SHIFT_LENGTH,TOTALINSP
0,5/28/2021,Fri,Launch Drive,Monmouth,698,Cobbosseecontee Lake,5236,Kathryn Ross,Kathryn,Ross,4771,Paid,12:00,10.0,Yes,18:00,360,33

In [16]:
df_2022.drop(columns=['WATER_REGION_ID', 'MIDAS', 'NAME_FL', 'FNAME', 'LNAME', 'INSPECTIONS'], inplace=True)

In [17]:
df_2022.head(1)

,DATE1,DAY_OF_WEEK,SITE_NAME,TOWN,WATERBODY,INSPECTOR_ID,PAY_VOL,SHIFT_START,TRAILERS,SHIFT_END,SHIFT_LENGTH,TOTALINSP
0,5/28/2021,Fri,Launch Drive,Monmouth,Cobbosseecontee Lake,4771,Paid,12:00,10.0,18:00,360,33

In [18]:
weather = pd.read_csv('data/weather.csv')

In [19]:
weather.head(1)

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,DAPR,MDPR,PRCP,SNOW,SNWD,TMAX,TMIN,TOBS,WT01,WT03,WT04,WT05,WT06,WT11
0,USC00179721,"WINTHROP, ME US",44.30656,-69.97016,63.4,2021-01-01,NaN,NaN,0.0,0.0,0.0,42.0,20.0,25.0,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
weather.drop(columns=['STATION', 'LATITUDE', 'LONGITUDE', 'ELEVATION', 'DAPR', 'MDPR', 'SNWD', 'WT01', 'WT03', 'WT04', 'WT05', 'WT06', 'WT11', 'SNOW', 'TOBS'], inplace=True)

In [21]:
weather.head()

              NAME        DATE  PRCP  TMAX  TMIN
0  WINTHROP, ME US  2021-01-01  0.00  42.0  20.0
1  WINTHROP, ME US  2021-01-03   NaN   NaN   NaN
2  WINTHROP, ME US  2021-01-04  0.00  34.0  26.0
3  WINTHROP, ME US  2021-01-05  0.04  35.0  28.0
4  WINTHROP, ME US  2021-01-06  0.03  32.0  25.0

In [22]:
weather.NAME.value_counts()

READFIELD 2.0 NNE, ME US    1050
WINTHROP, ME US             1037
WAYNE 3.2 SSE, ME US         988
WINTHROP 1.8 WSW, ME US      301
WINTHROP 5.8 NE, ME US       107
Name: NAME, dtype: int64

In [23]:
weather.isna().sum()

NAME       0
DATE       0
PRCP      44
TMAX    2542
TMIN    2537
dtype: int64

In [24]:
weather.shape

(3483, 5)

In [25]:
#weather.dropna(inplace=True)

In [26]:
#weather.shape

In [27]:
weather.describe()

              PRCP        TMAX        TMIN
count  3439.000000  941.000000  946.000000
mean      0.131329   61.587673   41.734672
std       0.345630   19.305771   18.332104
min       0.000000    8.000000  -17.000000
25%       0.000000   46.000000   28.000000
50%       0.000000   65.000000   44.500000
75%       0.080000   78.000000   57.000000
max       5.150000   95.000000   74.000000

In [28]:
weather = weather[weather['NAME']== 'WINTHROP, ME US']

In [29]:
weather.shape

(1037, 5)

In [30]:
weather.isna().sum()

NAME     0
DATE     0
PRCP    22
TMAX    96
TMIN    91
dtype: int64

In [31]:
weather.fillna(method='bfill', inplace=True)

In [32]:
weather.isna().sum()

NAME    0
DATE    0
PRCP    0
TMAX    0
TMIN    0
dtype: int64

In [33]:
weather.head(25)

               NAME        DATE  PRCP  TMAX  TMIN
0   WINTHROP, ME US  2021-01-01  0.00  42.0  20.0
1   WINTHROP, ME US  2021-01-03  0.00  34.0  26.0
2   WINTHROP, ME US  2021-01-04  0.00  34.0  26.0
3   WINTHROP, ME US  2021-01-05  0.04  35.0  28.0
4   WINTHROP, ME US  2021-01-06  0.03  32.0  25.0
5   WINTHROP, ME US  2021-01-07  0.00  39.0  25.0
6   WINTHROP, ME US  2021-01-08  0.00  40.0  23.0
7   WINTHROP, ME US  2021-01-09  0.00  33.0  15.0
8   WINTHROP, ME US  2021-01-10  0.00  33.0  15.0
9   WINTHROP, ME US  2021-01-11  0.00  33.0  15.0
10  WINTHROP, ME US  2021-01-12  0.01  33.0  15.0
11  WINTHROP, ME US  2021-01-13  0.00  41.0  25.0
12  WINTHROP, ME US  2021-01-14  0.00  37.0  22.0
13  WINTHROP, ME US  2021-01-15  0.00  38.0  24.0
14  WINTHROP, ME US  2021-01-16  0.00  42.0  27.0
15  WINTHROP, ME US  2021-01-18  0.00  39.0  17.0
16  WINTHROP, ME US  2021-01-19  0.00  39.0  17.0
17  WINTHROP, ME US  2021-01-20  0.00  31.0  19.0
18  WINTHROP, ME US  2021-01-21  0.00  34.0  12.0
19  WINTHROP, ME US  2021-01-22  0.03  26.0  14.0
20  WINTHROP, ME US  2021-01-23  0.00  33.0  21.0
21  WINTHROP, ME US  2021-01-24  0.00  33.0  10.0
22  WINTHROP, ME US  2021-01-25  0.00  33.0  10.0
23  WINTHROP, ME US  2021-01-26  0.00  33.0  10.0
24  WINTHROP, ME US  2021-01-27  0.18  35.0  12.0

In [34]:
weather.rename(columns={'DATE': 'DATE1'}, inplace=True)

In [35]:
weather.head(1)

              NAME       DATE1  PRCP  TMAX  TMIN
0  WINTHROP, ME US  2021-01-01   0.0  42.0  20.0

In [36]:
weather['DATE1'] = pd.to_datetime(weather['DATE1'])

In [37]:
weather.head(1)

              NAME      DATE1  PRCP  TMAX  TMIN
0  WINTHROP, ME US 2021-01-01   0.0  42.0  20.0

In [38]:
weather['DATE1'] = weather['DATE1'].dt.strftime('%m/%d/%Y')

In [39]:
weather.head(1)

              NAME       DATE1  PRCP  TMAX  TMIN
0  WINTHROP, ME US  01/01/2021   0.0  42.0  20.0

In [40]:
shift_df = pd.concat([df_2022, df_2023], axis=0, ignore_index=False)

In [41]:
shift_df.shape

(2669, 12)

In [42]:
shift_df.dtypes

DATE1            object
DAY_OF_WEEK      object
SITE_NAME        object
TOWN             object
WATERBODY        object
INSPECTOR_ID      int64
PAY_VOL          object
SHIFT_START      object
TRAILERS        float64
SHIFT_END        object
SHIFT_LENGTH      int64
TOTALINSP       float64
dtype: object

In [43]:
shift_df['DATE1'] = pd.to_datetime(shift_df['DATE1'])

In [44]:
shift_df.isna().sum()

DATE1             0
DAY_OF_WEEK       0
SITE_NAME         0
TOWN              0
WATERBODY         0
INSPECTOR_ID      0
PAY_VOL           0
SHIFT_START       0
TRAILERS        522
SHIFT_END         0
SHIFT_LENGTH      0
TOTALINSP         2
dtype: int64

In [45]:
weather.dtypes

NAME      object
DATE1     object
PRCP     float64
TMAX     float64
TMIN     float64
dtype: object

In [46]:
weather['DATE1']=pd.to_datetime(weather['DATE1'])

In [47]:
df = pd.merge(left=shift_df, right=weather, how='left', on='DATE1')

In [48]:
df.isna().sum()

DATE1             0
DAY_OF_WEEK       0
SITE_NAME         0
TOWN              0
WATERBODY         0
INSPECTOR_ID      0
PAY_VOL           0
SHIFT_START       0
TRAILERS        522
SHIFT_END         0
SHIFT_LENGTH      0
TOTALINSP         2
NAME              0
PRCP              0
TMAX              0
TMIN              0
dtype: int64

In [49]:
df.head()

,DATE1,DAY_OF_WEEK,SITE_NAME,TOWN,WATERBODY,INSPECTOR_ID,PAY_VOL,SHIFT_START,TRAILERS,SHIFT_END,SHIFT_LENGTH,TOTALINSP,NAME,PRCP,TMAX,TMIN
0,2021-05-28,Fri,Launch Drive,Monmouth,Cobbosseecontee Lake,4771,Paid,12:00,10.0,18:00,360,33.0,"WINTHROP, ME US",0.00,72.0,45.0
1,2021-05-28,Fri,Whippoorwill Road,Litchfield,Woodbury Pond,4174,Paid,12:00,1.0,18:00,360,13.0,"WINTHROP, ME US",0.00,72.0,45.0
2,2021-05-28,Fri,Augusta West Kampground,Winthrop,Annabessacook Lake,4769,Paid,12:00,0.0,18:00,360,1.0,"WINTHROP, ME US",0.00,72.0,45.0
3,2021-05-28,Fri,East Winthrop,Winthrop,Cobbosseecontee Lake,4485,Paid,12:00,1.0,18:00,360,2.0,"WINTHROP, ME US",0.00,72.0,45.0
4,2021-05-29,Sat,Thorofare Rd,Litchfield,Pleasant Pond,4944,Paid,7:00,1.0,17:00,600,11.0,"WINTHROP, ME US",0.02,62.0,45.0

In [56]:
df.to_csv('data/df1_with_weather.csv', index=False)

In [51]:
df.head()

,DATE1,DAY_OF_WEEK,SITE_NAME,TOWN,WATERBODY,INSPECTOR_ID,PAY_VOL,SHIFT_START,TRAILERS,SHIFT_END,SHIFT_LENGTH,TOTALINSP,NAME,PRCP,TMAX,TMIN
0,2021-05-28,Fri,Launch Drive,Monmouth,Cobbosseecontee Lake,4771,Paid,12:00,10.0,18:00,360,33.0,"WINTHROP, ME US",0.00,72.0,45.0
1,2021-05-28,Fri,Whippoorwill Road,Litchfield,Woodbury Pond,4174,Paid,12:00,1.0,18:00,360,13.0,"WINTHROP, ME US",0.00,72.0,45.0
2,2021-05-28,Fri,Augusta West Kampground,Winthrop,Annabessacook Lake,4769,Paid,12:00,0.0,18:00,360,1.0,"WINTHROP, ME US",0.00,72.0,45.0
3,2021-05-28,Fri,East Winthrop,Winthrop,Cobbosseecontee Lake,4485,Paid,12:00,1.0,18:00,360,2.0,"WINTHROP, ME US",0.00,72.0,45.0
4,2021-05-29,Sat,Thorofare Rd,Litchfield,Pleasant Pond,4944,Paid,7:00,1.0,17:00,600,11.0,"WINTHROP, ME US",0.02,62.0,45.0

In [52]:
df.INSPECTOR_ID.value_counts()

5652    202
4174    131
5670    116
3796    113
5006    111
       ...
5632      1
5642      1
5368      1
5675      1
6033      1
Name: INSPECTOR_ID, Length: 114, dtype: int64

In [53]:
df['ID_COUNT'] = df.groupby('INSPECTOR_ID')['INSPECTOR_ID'].transform('count')

In [54]:
df.head()

,DATE1,DAY_OF_WEEK,SITE_NAME,TOWN,WATERBODY,INSPECTOR_ID,PAY_VOL,SHIFT_START,TRAILERS,SHIFT_END,SHIFT_LENGTH,TOTALINSP,NAME,PRCP,TMAX,TMIN,ID_COUNT
0,2021-05-28,Fri,Launch Drive,Monmouth,Cobbosseecontee Lake,4771,Paid,12:00,10.0,18:00,360,33.0,"WINTHROP, ME US",0.00,72.0,45.0,55
1,2021-05-28,Fri,Whippoorwill Road,Litchfield,Woodbury Pond,4174,Paid,12:00,1.0,18:00,360,13.0,"WINTHROP, ME US",0.00,72.0,45.0,131
2,2021-05-28,Fri,Augusta West Kampground,Winthrop,Annabessacook Lake,4769,Paid,12:00,0.0,18:00,360,1.0,"WINTHROP, ME US",0.00,72.0,45.0,56
3,2021-05-28,Fri,East Winthrop,Winthrop,Cobbosseecontee Lake,4485,Paid,12:00,1.0,18:00,360,2.0,"WINTHROP, ME US",0.00,72.0,45.0,16
4,2021-05-29,Sat,Thorofare Rd,Litchfield,Pleasant Pond,4944,Paid,7:00,1.0,17:00,600,11.0,"WINTHROP, ME US",0.02,62.0,45.0,57

In [ ]:
df.to_csv('data/df1_with_weather1.csv', index=False)

In [57]:
df.describe()

,INSPECTOR_ID,TRAILERS,SHIFT_LENGTH,TOTALINSP,PRCP,TMAX,TMIN,ID_COUNT
count,2669.000000,2147.000000,2669.000000,2667.000000,2669.000000,2669.000000,2669.000000,2669.000000
mean,5043.566879,4.359106,360.351068,14.864642,0.124474,79.460847,59.086175,67.032222
std,1059.959536,28.594394,153.414576,16.561012,0.315526,8.676235,6.890343,53.860220
min,1103.000000,0.000000,1.000000,0.000000,0.000000,50.000000,32.000000,1.000000
25%,4770.000000,1.000000,300.000000,3.000000,0.000000,74.000000,54.000000,26.000000
50%,5579.000000,2.000000,360.000000,9.000000,0.000000,81.000000,59.000000,56.000000
75%,5654.000000,5.000000,375.000000,20.000000,0.080000,86.000000,64.000000,111.000000
max,6112.000000,1300.000000,780.000000,105.000000,2.320000,95.000000,73.000000,202.000000